*{
    box-sizing: border-box;
}

:root{
    --purple:#7453fc;
    --white:#fff;
    --black:#2a2a2a;
    --swiper-navigation-size: 13px;
    
}



.bgc{
    background-color: var(--purple);
}
.bgc-white{
    background-color: #fff;
}

.pc-purple{
    color: var(--purple);
}

.pc-white{
    color: var(--white);
}

.pc.black{
    color: #2a2a2a;
}

body{
    font-family:'Roboto', sans-serif;
}

a{
    text-decoration: none !important;
}






  /* HEADER STYLE */

.header-area{
    background-color: transparent;
    position: absolute;
    height: 70px;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;
}
.navbar{
    border-radius: 50px;
    
}

.nav-link{
    color: #2a2a2a !important;
    background-color: transparent;
    border-radius: 20px;
    
    
}


.nav-item :hover{
    color: #fff !important;
    background-color: #7453fc;
    border-radius: 20px;
    transition: 0.5s;
}


/* modificare toggle collpase */


/* MAIN STYLE */

.main-banner{
    background-image: url(./media/banner-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 240px;
    background-color: #2a2a2a;
    width: 100%;
}



.border-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.main-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
}

.main-p{
    font-size: 20px;
    line-height: 30px;
    /* margin-top: 20px; */
    
}



.border-button{
    color: #fff;
    background-color: transparent;
    border-radius: 20px;
    padding: 12px 30px;
    border: 1px solid #7453fc;
    display: inline-block;
    margin-right: 15px;
}
 .border-button:hover{
    color: #fff !important;
    background-color: #7453fc;
    border-radius: 20px;
    padding: 12px 30px;
    border: 1px solid #7453fc;
    display: inline-block;
    margin-right: 15px;
 }



.main-button{
    color: #fff !important;
    background-color: #7453fc;
    border-radius: 20px;
    padding: 12px 30px;
    display: inline-block;

}

.main-button:hover{
    
        color: #7453fc!important;
        background-color: #fff;
        border-radius: 20px;
        padding: 12px 30px;
        display: inline-block;
    
    
}

/* CONTROLLARE HOVER BOTTONI FINE  */
.main-foto{
    
    display: flex;
    height: 310px;
    width: 100%;
}

@media  screen and (min-width:760px) {

    .main-foto{
        /* margin-left: 50px; */
        justify-content: center;
        display: flex;
        height: 430px;
        width: 100%;
        padding-left: 10%;
    }
}

/* SECTION CATEGORIES COLLECTION */

.categories-collection{
    background-image: url(./media/dark-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 120px 0px 150px 0px;
}
.line-section{
    width: 100px;
    height: 2px;
    background-color: #7453fc;
    margin: 0 auto 30px auto;
    
    
}

.title-categories{
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

em{
    color: #7453fc;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.card-categories{
    background-color: #282b2f;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #404245;
    position: relative;
    margin-top: 15px;
}

.icon{
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background-color: #fff;
    border-radius: 50px;
}

.card-title{
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
    display: inline-block;
    
}


  .collection{
    margin-top: 80px;
  }


 .collection-title{
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    justify-content: center;
 }

/* CARD COLLECTION */

 .card-collection{
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    display: block;
    /* width: 100%; */
}
   

 .card-collection img{
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    width: 100%;
 }

 .card-down{
    background-color: #282b2f;
    border: 1px solid #404245;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    padding: 30px;
    /* width: 100%; */
   
} 

 .card-collection h4{
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-weight:700 ;
 }

 .card-collection p{
    display: inline-block;
    width: 48%;
    
 }
 
 .card-collection-item{
    color:#fff ; 
    font-size: 19px;
    /* font-weight: 400;   */
 }

 .card-collection-categories{
        color: #fff;
        text-align: right;
        font-size: 19px;
        font-weight: 400;  
 }

 .collection-button{
       width: 100%;
       text-align: center;
       font-size: 14px;
       background-color: #7453fc;
       border: 1px solid #7453fc;
       padding: 12px 30px;
       display: inline-block;
       border-radius: 25px;
       font-weight: 500;
       text-transform: capitalize;
       letter-spacing: 0.5px;
       /* transition: all 0.3s; */
       position: relative;
       overflow: hidden;
       margin-top: 20px;
       margin-bottom: -60px;
       color: #fff;
    }
 

.collection-button ::after{
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.collection-button a{
    color: #fff;
}

.swiper {
    width: 70%;
    height: 100%;
  }

  .swiper .swiper-button-prev{
    color: #7453fc;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    width: 46px;
    height: 46px;
    /* display: inline-block; */
    left: 0px;

}

  .swiper .swiper-button-next{
    color: #7453fc;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    width: 46px;
    height: 46px;
    /* display: inline-block; */
    right: 0px;
}

/* CREATE NFT SECTION */

.create-nft{
    background-image: url(./media/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 140px 0;
    position: relative;
}

.line-section-create{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 30px;
    
}

.create-title{
    color: #fff;
    margin-top: 20px;
    line-height: 36px;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;

}

.create-button{
    text-align: right;
}

.create-button a{
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #7453fc;
    border: 1px solid #7453fc;
    padding: 12px 60px;
    /* display: inline-block; */
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    /* margin-top: 20px;
    margin-bottom: -60px; */
    color: #fff;
}

.create-button a::after{
    width: 78%;
    height: 2px;
    background-color: #fff;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.create-button a:hover{
    background-color: #fff;
    color: #7453fc;
}

.create-nft .item{
    margin-top: 30px;
    position: relative;
}



.icon-create{
    width: 62px;
    height: 62px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.create-nft h4{
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.create-nft p{
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
}
.item::after{
    position: absolute;
    width: 1px;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    right: 5px;
    top: 5%;
}

.number{
    position: absolute;
    right: 0px;
    top: -20px;
    color: #fff;
}



@media (max-width:992px) {

   
    
    .create-title{
        text-align: center;
        margin-top: 45px;
    }

    .create-button{
        text-align: center;
        margin-top: 45px;

    }    

    .create-nft .item{
        text-align: center;
        margin-top: 45px;
    }

    .number{
        display: none;
    }

    .item::after{
      display: none;
    }
   
    
}

/* MARKET SECTION */

.market{
    background-image: url(./media/dark-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 120px 0px;
    position: relative;
}

.line-section-market{
    
    width: 100px;
    height: 3px;
    background-color: #7453fc;
    margin-bottom: 30px;

}
.market h2{
    color: #fff;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: left;

}

.filters{
    text-align: right;
    
}

.filters li {
    display: inline-block;
    margin-left: 6px;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    padding: 8px 15px;
    
    cursor: pointer;
    transition: all 0.3s ease 0s;
  
}


.filters  li.active,
.filters  li:hover{
    background-color: #7453fc;
}

.ciao{
    position: relative;
    height: 100;
}

.market-item{
    /* position: absolute; */
    left: 0px;
    top: 0px;
    width: 100%;
    margin-top:30px;
}

